# Copy this file to .env and fill in your values

DATABASE_URL=postgresql://postgres.hupsjhvzsqeqartvgjcj:Shrey1020%40%40%40@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
SECRET_KEY=generate_with_python_secrets_module
GEMINI_API_KEY=get_from_aistudio_google_com
DEBUG=True