# Copy this file to .env and fill in your values

DATABASE_URL=postgresql://postgres:Shrey1020@@@@db.hupsjhvzsqeqartvgjcj.supabase.co:5432/postgres
SECRET_KEY=generate_with_python_secrets_module
GEMINI_API_KEY=get_from_aistudio_google_com
DEBUG=True